.wrapper {
  height: 100%;
  width: 100%;

  &--full {
    height: 100vh;
  } 

  &--gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#298dfb+0,298dfb+10,308ffb+13,4d98fb+20,91acfb+34,a9b3fb+39,b9b8fb+44,c1bafb+50,bcb9fb+55,a9b3fb+61,91acfb+66,4d98fb+80,308ffb+87,298dfb+90,298dfb+100 */
    background: rgb(41,141,251); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(41,141,251,1) 0%, rgba(41,141,251,1) 10%, rgba(48,143,251,1) 13%, rgba(77,152,251,1) 20%, rgba(145,172,251,1) 34%, rgba(169,179,251,1) 39%, rgba(185,184,251,1) 44%, rgba(193,186,251,1) 50%, rgba(188,185,251,1) 55%, rgba(169,179,251,1) 61%, rgba(145,172,251,1) 66%, rgba(77,152,251,1) 80%, rgba(48,143,251,1) 87%, rgba(41,141,251,1) 90%, rgba(41,141,251,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(41,141,251,1) 0%,rgba(41,141,251,1) 10%,rgba(48,143,251,1) 13%,rgba(77,152,251,1) 20%,rgba(145,172,251,1) 34%,rgba(169,179,251,1) 39%,rgba(185,184,251,1) 44%,rgba(193,186,251,1) 50%,rgba(188,185,251,1) 55%,rgba(169,179,251,1) 61%,rgba(145,172,251,1) 66%,rgba(77,152,251,1) 80%,rgba(48,143,251,1) 87%,rgba(41,141,251,1) 90%,rgba(41,141,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(41,141,251,1) 0%,rgba(41,141,251,1) 10%,rgba(48,143,251,1) 13%,rgba(77,152,251,1) 20%,rgba(145,172,251,1) 34%,rgba(169,179,251,1) 39%,rgba(185,184,251,1) 44%,rgba(193,186,251,1) 50%,rgba(188,185,251,1) 55%,rgba(169,179,251,1) 61%,rgba(145,172,251,1) 66%,rgba(77,152,251,1) 80%,rgba(48,143,251,1) 87%,rgba(41,141,251,1) 90%,rgba(41,141,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: relative;
  
    &:after {
      content: '#{$base-image-path}';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background-image: url('#{$base-image-path}/background-pattern.png');
      background-repeat: repeat;
      height: 100%;
      width: 100%;
      opacity: .05;
      background-size: 3px;
    }
  }  
}
