// Colors
$color-white: #f7f7f7;
$color-black: #0a0a0a;

// Line height
$line-height-base: 1.5;
$header-line-height: 1.25;

// Font Families and Weights
$roboto: 'Roboto', sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Font Sizes
$font-size-base: 1.5rem;
$font-size-xl: 3rem;
$font-size-lg: 2rem;
$font-size-md: 1.5rem;
$font-size-sm: $font-size-base;

// Font Colors
$font-color-dark: $color-black;
$font-color-light: $color-white;

// Other Sizes
$base-spacing: 1.5rem;
