body {
  font-family: Roboto, sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $font-color;
}

h1 {
  font-size: $font-size-xl;
}

h2 {
  font-size: $font-size-lg;
}

h3 {
  font-size: $font-size-md;
}

h4 {
  font-size: $font-size-sm;
}